{% extends 'base.html' %}
{% load static %}


{% block content %}

{% load user_agents %}
{% if request|is_mobile %}
   
{% endif %}
{% if request|is_tablet %}
   
{% endif %}

{% if request|is_pc %}
    <br>
<br>
<br>
{% endif %}
<div class="kenne-cart-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="kenne-product-remove">удалить</th>
                                            <th class="kenne-product-thumbnail">изображение</th>
                                            <th class="cart-product-name">Товар</th>
                                            <th class="kenne-product-price">Цена</th>
                                            <th class="kenne-product-quantity">Количество</th>
                                            <th class="kenne-product-subtotal">Всего</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         {% for item in cart %}
                    {% with product=item.product  %}
                                        <tr>
                                            <td class="kenne-product-remove"><a href="{% url 'cart:cart_remove' product.id %}"><i class="fa fa-trash"
                                                title="Remove"></i></a></td>
                                            <td ><img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'shop/img/default.jpg' %} {% endif %}" width="300" height="200" alt="Uren's Cart Thumbnail"></td>
                                            <td class="kenne-product-name">{{product.name}}</td>
                                            <td class="kenne-product-price"><span class="amount">{{product.price}} руб.</span></td>
                                            <td class="quantity">
                                               
                                                
                                <form action="{% url 'cart:cart_add' product.id %}" method="GET" >
                                {% csrf_token %}
                                <span style="display:inline-block">    
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit"  value="Изменить" class="btn btn-outline-info"style="margin-top:10%;"> </span>
                               
                            </form>
                                                
                                            </td>
                                            <td class="product-subtotal"><span class="amount">{{ item.total_price }} руб.</span></td>
                                        </tr>
                                       {% endwith %}
                                       {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Цена</h2>
                                        <ul>
                                            
                                            <li>Всего <span>{{ cart.get_total_price }} руб.</span></li>
                                        </ul>
                                        <a href="{% url 'orders:order_create' %}">Оформить заказ</a>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>


{% endblock %}


{% block footer %}
{% include "footer.html" with categories_footer1=categories_footer1 categories_footer2=categories_footer2 categories_footer3=categories_footer3 categories_footer4=categories_footer4 categories_footer5=categories_footer5 %}
{% endblock %}


 <!--<div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>
    
          <ul class="minicart-list">
        <h2>
            <span class="badge pull-right">
                {% with totail_items=cart|length %}
                    {% if cart|length > 0 %}
                        Текущий список покупок:
                        <a href="{% url 'cart:cart_detail' %}" style="color: #ffffff">
                            {{ totail_items }} item {{ totail_items|pluralize }}, {{ cart.get_total_price }}
                        </a>
                        {% else %}
                        Your cart is empty.
                    {% endif %}
                {% endwith %}
            </span>
        </h2>
        <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Изображение</th>
                <th scope="col">Товар</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Удалить</th>
                <th scope="col">Цена одного товара</th>
                <th scope="col">Цена</th>
              </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    {% with product=item.product  %}
                        <tr>
                            <th scope="row">
                                <a href="{{ product.get__absolute_url }}">
                                    <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            </a>
                            </th>
                            <td>{{ product.name }}</td>
                            <td>
                            <form action="{% url 'cart:cart_add' product.id %}" method="get">
                                {% csrf_token %}
                                <span style="display:inline-block">    
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Изменить" class="btn btn-outline-info"style="margin-top:10%;">
                                </span>
                            </form>
                            </td>
                            <td>
                                <a href="{% url "cart:cart_remove" product.id %}">Удалить</a>
                            </td>
                            <td> {{ item.price }}</td>
                            <td> {{ item.total_price }}</td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td><b>Суммарная стоимость</b></td>
                    <td colspan="4"></td>
                    <td colspan="num"><b> {{ cart.get_total_price }}</b></td>
                </tr>
            </tbody>
          </table>
                
                </tbody>
            </table>
        <p class="text-right">
            <a href="{% url "shop:start_page" %}" class="btn btn-default">Продолжить покупку</a>
            <a href="{% url "orders:order_create" %}" class="btn btn-primary">Оформить заказ</a>
        </p>
        </div>
    </div>
</div>

-->