{% extends 'base.html' %}
{% load static %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

<!--

    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Форма заказа</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}<br>
                    <input type="submit" class="btn btn-primary" value="Подтвердить заказ">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Заказ
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span> {{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Общая стоимость: {{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>
-->
{% block content %}

<!-- Begin Kenne's Checkout Area -->
        <div class="checkout-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <form action="." method="post">
                            <div class="checkbox-form">
                                <h3>Информация по заказу</h3>
                                <div class="row">
                                    {% csrf_token %}
                                    
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Имя <span class="required">*</span></label>
                                            <input placeholder="" type="text" name="first_name" id="id_first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Фамилия <span class="required">*</span></label>
                                            <input placeholder="" type="text" name="last_name" id="id_last_name">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Адресс <span class="required">*</span></label>
                                            <input  type="text" name="address" id="id_address">
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Email <span class="required">*</span></label>
                                            <input placeholder="" type="email" name="email" id="id_email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>Телефон <span class="required">*</span></label>
                                            <input type="text" name="phone" id="id_phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="order-button-payment">
                                        <input  value="Оформить заказ" type="submit">
                                    </div>
                                    </div>

                                    
                                
                                    
                                
                                
                                   
                                  
                                </div>
                            </div>
                        </form>
                    </div>
                    
                               
            </div>
        </div>
    </div>

        <!-- Kenne's Checkout Area End Here -->
{% endblock %}