 
 {% load static %}
 <div class="kenne-instagram_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="kenne-section_area">
                            <h3>Наш Instagram</h3>
                            <p> Следите за нами в социальных сетях</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="kenne-element-carousel instagram-slider arrow-style arrow-style-3" data-slick-options='{
                    "slidesToShow": 5,
                    "slidesToScroll": 1,
                    "infinite": false,
                    "arrows": true,
                    "dots": false,
                    "spaceBetween": 30
                    }' data-slick-responsive='[
                    {"breakpoint":1200, "settings": {
                    "slidesToShow": 5
                    }},
                    {"breakpoint":992, "settings": {
                    "slidesToShow": 4
                    }},
                    {"breakpoint":768, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint":576, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint":480, "settings": {
                    "slidesToShow": 1
                    }}
                ]'>

                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/001.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/002.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/003.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/004.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/005.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/006.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/007.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/008.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/009.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                            <div class="single-item img-hover_effect">
                                <div class="instagram-img">
                                    <a href="https://instagram.com/torgovoe_oborudovanie_msk">
                                        <img src="{% static 'shop/assets/images/instagram/010.jpg' %}" alt="Kenne's Instagram Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>